body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Titillium Web", sans-serif;
} /*---container-----*/
.container {
  width: 100%;
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 450px) {
  .container {
    width: 400px;
    margin-top: 30px;
    margin-left: 200px;
    padding: 0px;
  }
}
/*---header-----*/
.header {
  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("./img/bg.jpg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.clear {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 20px;
  right: 20px;
}
.clear i {
  color: white;
  font-size: 30px;
}
.clear i:hover {
  cursor: pointer;
  text-shadow: 1px 3px 5px #000;
  transform: rotate(45deg);
}
#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 25px;
  font-family: "Titillium Web", sans-serif;
}
.content {
  width: 100%;
  height: 350px;
  max-height: 350px;
  background-color: #fff;
}
ul {
  margin: 0px;
  padding: 0px;
}
.item {
  list-style: none;
  width: 100%;
  height: 45px;
  min-height: 45px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}
.item i.co {
  position: absolute;
  padding-left: 5px;
  font-size: 30px;
  left: 10px;
  top: 10px;
}
.item i.co:hover {
  cursor: pointer;
}
.fa-check-circle {
  color: rgb(132, 240, 82);
}
.lineThrough {
  font-family: "Titillium Web", sans-serif;
  text-decoration: line-through;
  text-decoration-color: rgb(179, 248, 161);
}
p.text {
  position: absolute;
  top: 15px;
  left: 50px;
  background-color: white;
  width: 70%;
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}
.item i.de {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
}
.item i.de:hover {
  color: red;
  cursor: pointer;
}
/*------add item--------*/
.add-to-do {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.add-to-do i {
  position: absolute;
  font-size: 40px;
  color: #4162f6;
}
.add-to-do input {
  position: absolute;
  left: 50px;
  height: 35px;
  width: 81%;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding-left: 10px;
}
.add-to-do input:focus {
  background-color: #a6b5f7;
}
.add-to-do input::-webkit-input-placeholder {
  color: #4162f6;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
